<template name="tenant">

    <section class="why-we">
        <h1>Чем мы лучше?</h1>
        <p>Наша главная задача - принести технологии в такую закоренелую сферу, как жкх. Наша цель - наладить адекватный контакт между ЖКХ и ТСЖ и жильцами. Ведь по-настоящему так мало народу интересуются этими вещами</p>
    </section>

    <section>
        <h1>Мы поможем вам:</h1>
        <ul>
            <li>Получить актуальную информацию о своем ТСЖ</li>
            <li>Возможность подать заявку</li>
            <li>Возможность задать вопрос на форуме</li>
        </ul>
    </section>

</template>