<template name="company">

<div class="wrapper company">

    <section class="heading">

        <div class="container">

            <div class="page-header">
                <h1>{{name}}
                    <small>еще инфо</small>
                </h1>
            </div>

        </div>

    </section>

    <section class="main-info">

        <div class="container">

            <div class="row">

                <aside class="col-md-3">
                    <nav class="company-nav">
                        <ul>
                            <li><a href="">Cписок домов</a></li>
                            <li><a href="/company/table">Инфа 1</a></li>
                            <li><a href="">Инфа 2</a></li>
                            <li><a href="">Инфа 3</a></li>
                            <li><a href="">Инфа 4</a></li>
                            <li><a href="">Инфа 5</a></li>
                        </ul>
                    </nav>
                </aside>

                <div class="main col-md-9">

                    {{>yield}}

                </div>

            </div>

        </div>

    </section>

    <!--<section class="all-info">-->

    <!--<div class="container"><h3>Раскрытие информации</h3></div>-->

    <!--<nav id="tab-nav">-->
    <!--<ul class="container">-->
    <!--<li class="_active" data-target="main-tab">Основное</li>-->
    <!--<li data-target="payment-tab">Платежи</li>-->
    <!--<li data-target="questions-tab">Задать вопрос</li>-->
    <!--</ul>-->
    <!--</nav>-->

    <!--&lt;!&ndash;<div class="arrows">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="left"><i class="fa fa-angle-left"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="right"><i class="fa fa-angle-right"></i></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div class="info-tabs">-->

    <!--<div class="info-tabs-cont">-->

    <!--<div id="main-tab" class="info-cont">-->

    <!--<div class="container">-->

    <!--</div>-->

    <!--</div>-->

    <!--<div id="payment-tab" class="info-cont">-->

    <!--<div class="container">-->

    <!--This is my second tab-->

    <!--</div>-->

    <!--</div>-->

    <!--<div id="questions-tab" class="info-cont">-->

    <!--<div class="container">-->

    <!--This is my third tab-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</section>-->

    </div>

</template>


