<template name="_table">
    <table class="table table-hover">

        <thead>
        <tr>
            <td>Имя</td>
            <td>Статья</td>
            <td>Расходы
            </td>
            <td>Приходы</td>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>

        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>

        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>

        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>

        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>


        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>


        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>


        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>


        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>


        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                reprehenderit sed sunt.
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
        </tr>

        </tbody>

    </table>
</template>