<template name="index">

    <section class="top">

        <div id="map"></div>

        <div class="container">

            <h1>ТСЖ 135 Российской <br/>федерации по<br/> Санкт-Петербургу</h1>


        </div>

    </section>

    <section class="main-info">

        <div class="container">

            <h3>Основная информация</h3>

            <hr/>

            <div class="row">
                <aside class="col-md-3">Адрес:</aside>
                <div class="col-md-9"><p>196657, Санкт-Петербург, Колпино, Пролетарская ул., д. 60, корп. 3</p></div>
            </div>
            <div class="row">
                <aside class="col-md-3">Телефон:</aside>
                <div class="col-md-9"><p>(812) 481-31-70</p></div>
            </div>
            <div class="row">
                <aside class="col-md-3">Руководитель:</aside>
                <div class="col-md-9"><p>Васильева Ольга Васильевна</p></div>
            </div>
            <div class="row">
                <aside class="col-md-3">Режим работы:</aside>
                <div class="col-md-9"><p>ежедневно, круглосуточно</p></div>
            </div>
            <div class="row">
                <aside class="col-md-3"></aside>
                <div class="col-md-9">
                    <button class="bordered">Обращение</button>
                </div>
            </div>

            <hr/>

        </div>

    </section>

    <section class="all-info">

        <div class="container"><h3>Раскрытие информации</h3></div>

        <nav id="tab-nav">
            <ul class="container">
                <li data-target="payment-tab">Деятельность</li>
                <li data-target="news-tab">Новости</li>
                <li class="_active" data-target="main-tab">Общая информация</li>
                <li data-target="questions-tab">Задать вопрос</li>
            </ul>
        </nav>

        <!--<div class="arrows">-->
        <!--<div class="left"><i class="fa fa-angle-left"></i></div>-->
        <!--<div class="right"><i class="fa fa-angle-right"></i></div>-->
        <!--</div>-->

        <div class="info-tabs">

            <div class="info-tabs-cont">

                <div id="payment-tab" class="info-cont">

                    <div class="container">

                        This is my second tab

                    </div>

                </div>

                <div id="questions-tab" class="info-cont">

                    <div class="container">

                        This is my third tab

                    </div>

                </div>

                <div id="main-tab" class="info-cont">

                    <div class="container">

                        <table class="table table-hover">

                            <thead>
                            <tr>
                                <td>Имя</td>
                                <td>Статья</td>
                                <td>Расходы
                                </td>
                                <td>Приходы</td>
                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>

                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>

                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>

                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>

                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>


                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>


                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>


                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>


                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>


                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, sit.</td>
                                <td>Lorem ipsum dolor sit.</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis ipsa rem
                                    reprehenderit sed sunt.
                                </td>
                                <td>Lorem ipsum dolor sit amet.</td>
                            </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


            </div>

        </div>

    </section>

</template>