<template name="advantages">

    <section class="who-we-are">

        <div class="container">

            <h3>Кто мы?</h3>

            <div class="row">
                <div class="col-md-5"></div>
                <p class="col-md-7">Мы являемся инноваторами на рынке, и предоставляем современные телекоммуникационные
                    услуги на жилищном рынке Санкт-Петербурга. Мы сработаем в узком сегменте ЖКХ, и по-этому
                    предоставляем услуги на неизменно высоком уровне! Наша цель - идти навстречу инетересам как ЖКХ, так
                    и пользователей, и принести
                    современные технологии на рынок.</p>
            </div>

        </div>

    </section>

    <div class="why-we">

        <div class="container">

            <h3>Зачем мы нужны?</h3>

            <p>Всвязи с тем, что не так давно вышел <a href="">закон</a> о том, чтовсе ТСЖ обязуются распространять
                инфо, блаблабла.</p>

            <div class="row">

                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-book"></i></div>
                    <h4>Соблюдение законодательства</h4>

                    <p>Мы подстраиваем вашу компанию под действующее законодательство, избавляя вас от возможных
                        проблем</p>
                </div>
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-edit"></i></div>
                    <h4>Наполнение и обновление</h4>

                    <p>Вам не нужно самим опубликовывать новую информацию, все это делают наши специалисты по вашему
                        запросу в режиме 24/7</p>
                </div>
                <div class="col-md-4">
                    <div class="circle"><i class="fa fa-rouble"></i></div>
                    <h4>Экономия средств</h4>

                    <p>Вы экономите на собственном сайте, на его поддержке и администрировании. Не говоря уже о
                        возможных проблемах с органами власти</p>
                </div>

            </div>

        </div>

    </div>

    <section class="why-better">

        <div class="container">

            <h3>Чем мы лучше собственного сайта?</h3>

            <div class="row">
                <div class="col-md-2"><i class="fa fa-rouble"></i></div>
                <div class="col-md-10">Прежде всего - наши услуги намного дешевле!</div>
            </div>

            <div class="row">
                <div class="col-md-2"><i class="fa fa-edit"></i></div>
                <div class="col-md-10">Вы можете забыть о наполнении и администрировании вашего сайта - мы то делаем за
                    вас!
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><i class="fa fa-globe"></i></div>
                <div class="col-md-10">Вы становитесь частью единого информационного пространства в рамках инновационного
                    проекта
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><i class="fa fa-edit"></i></div>
                <div class="col-md-10">Разработка сайта стоит минимум 40000р, участие в нашем проекте во много раз
                    дешевле
                </div>
            </div>


        </div>

    </section>


    <section class="service">

        <div class="container">

            <h3>Наши услуги</h3>

            <ul>
                <li>Ваше представительство в интернете!</li>
                <li>Обслуживание и администрирование и наполнение</li>
                <li>Обратная связь, обработка запросов</li>
            </ul>

        </div>

    </section>

    <section class="price">


        <div class="container">
            <h3>Стоимость</h3>

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <h3>до 3 домов</h3>

                        <p>подключение: 2000р</p>

                        <p>обслуживание: 900р/мес</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <h3>до 10 домов</h3>

                        <p>подключение: 3000р</p>

                        <p>обслуживание: 1500/мес</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <h3>более 10 домов</h3>

                        <p>подключение: 5000р</p>

                        <p>обслуживание: 2500/мес</p>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="lead">

        <div class="container">
            <p>И так, ответ вполне очевиден! Наш сервис экономит ваши деньги и нервы!</p>

            <h2>Будем рады вас видеть среди наших клиентов!</h2>

            <h1>(812) 548-23-23</h1>

            <p>Звоните, мы проконсудьтируем вас по любому вопросу!</p>

            <p>Либо оставьте заявку, и наш менеджер свяжется с вами в ближайшее время!</p>
            <button>Оставить заявку</button>
        </div>

    </section>


</template>

