<template name="_mainPage">


    <h3>Основная информация</h3>

    <hr/>

    {{#with mainInfo}}
    <div class="row">
        <aside class="col-md-3">Адрес:</aside>
        <div class="col-md-9"><p>{{address}}</p></div>
    </div>
    <div class="row">
        <aside class="col-md-3">Телефон:</aside>
        <div class="col-md-9"><p>{{getPhones phone}}</p></div>
    </div>
    <div class="row">
        <aside class="col-md-3">Руководитель:</aside>
        <div class="col-md-9"><p>{{head}}</p></div>
    </div>
    <div class="row">
        <aside class="col-md-3">Режим работы:</aside>
        <div class="col-md-9"><p>{{hours}}</p></div>
    </div>
    <div class="row">
        <aside class="col-md-3"></aside>
        <div class="span9">
            <button class="bordered">Обращение</button>
        </div>
    </div>
    {{/with}}
    <hr/>

    <h3>Объявления</h3>

    <ul class="list-group">
        <li class="list-group-item">
            <h5>25.08.2015</h5>
            <h4>ДЛЯ ЖИЛЬЦОВ СРОЧНО!</h4>

            <p>С 13:00 до 15:00 не будет горячей воды, просьба запастись обогревателями</p>
        </li>
        <li class="list-group-item">
            <h5>25.08.2015</h5>
            <h4>ДЛЯ ЖИЛЬЦОВ СРОЧНО!</h4>

            <p>С 13:00 до 15:00 не будет горячей воды, просьба запастись обогревателями</p>
        </li>
        <li class="list-group-item">
            <h5>25.08.2015</h5>
            <h4>ДЛЯ ЖИЛЬЦОВ СРОЧНО!</h4>

            <p>С 13:00 до 15:00 не будет горячей воды, просьба запастись обогревателями</p>
        </li>
        <li class="list-group-item">
            <h5>25.08.2015</h5>
            <h4>ДЛЯ ЖИЛЬЦОВ СРОЧНО!</h4>

            <p>С 13:00 до 15:00 не будет горячей воды, просьба запастись обогревателями</p>
        </li>
        <li class="list-group-item"><a href="">АРХИВ</a></li>
    </ul>

</template>